@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.wrap {
  width: 100%;
  min-height: 100vh;
  background-image: url(./Sugar-b.jpeg);
}
.col-md-4 h1 {
  font-weight: 800;
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  color: #b5a15f;
}
.col-md-4 h2 {
  color: #6a6967;
  font-size: 30px;
  font-weight: 700;
}
.col-md-4 p {
  color: #a2a2a2;
}
.read {
  padding: 10px 25px;
  font-size: large;
  border: 2px solid #b5a15f;
  border-radius: 25px;
  background-color: white;
  color: #a2a2a2;
  letter-spacing: 2px;
}
.footer a {
  color: #b5a15f;
}
